{% extends "layouts/base-presentation.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <style>
    .page-header {
      padding: 300px;
    }
  </style>
  <div class="page-header section-height-100 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/background3.jpg')">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-9 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
          <div class="row">
            <h1>{{ object|yesno:"Update,Create" }} a task</h1>
            <form action="" method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}

              <input type="submit" value="Submit" class="btn btn-primary">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
